<!DOCTYPE html>
<html ng-app="app" ng-strict-di>

<head>
	<meta charset="UTF-8">
	<title>Exemple Angular</title>
</head>

<body ng-controller="ContactCtrl">
	<div>
		<p>
			Prénom : <input ng-model="contact.prenom">
		</p>
		<p>
			Nom : <input ng-model="contact.nom">
		</p>
		<button ng-click="ajouter()">+</button>
	</div>
	<p ng-repeat="contact in contacts">
		{{contact.prenom}} {{contact.nom}}
		<button ng-click="supprimer(contact)">-</button>
	</p>
	<script src="node_modules/angular/angular.js"></script>
	<script src="ex-contacts.js"></script>
</body>

</html>