<div class="row">
	<div class="col-md-3">
        <p>
            <a ui-sref="contact.ajouter" ui-sref-active="active" class="btn btn-primary btn-block">Ajouter</a>
		</p>

		<p>
			<input class="form-control" placeholder="Filtrer" ng-model="filtreContact">
		</p>

		<div class="list-group">
            <a ui-sref="contact.show({id: contact.id})" ui-sref-active="active" class="list-group-item" ng-repeat="contact in contacts | filter:filtreContact">
                {{contact.prenom}} {{contact.nom | uppercase}}
            </a>
		</div>

	</div>
	<div class="col-md-9">

        <ui-view></ui-view>

	</div>
</div>